@model WowMacroEditorMVC.Models.Macro
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@Html.DisplayFor(model => model.Title)</title>
    @Content.Css("~/Content/themes/custom-theme/jquery-ui-1.8.18.css", Url)
    @Content.Css("~/Content/Embed_codemirror.css", Url)
    @Content.Css("~/Content/mode.css", Url)
    @Content.Css("~/Content/Embed_Site.css", Url)
</head>
<body>
    <div class="ui-widget-content ui-corner-all content padded">
        <h3 class="ui-widget-header ui-corner-top ui-state-active">
            @Html.DisplayFor(model => model.Title)</h3>
        <textarea name="code">
            @Html.DisplayFor(model => model.MacroText)
            </textarea>
            <br />
            @Html.ActionLink("Comment on www.WowMacroEditor.com", "Details", new { id = Model.MacroID, MacroString = Model.Title.ToFriendlyUrl() }, new { target = "_blank" })
    </div>
</body>
</html>
@Content.Script("~/Scripts/jquery-1.5.1.min.js", Url)
@Content.Script("~/Scripts/jquery-ui-1.8.11.min.js", Url)
@Content.Script("~/Scripts/MacroEditor_codemirror.js", Url)
@Content.Script("~/Scripts/MacroEditor_mode.js", Url)
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23392520-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<script type="text/javascript">
    function forEach(arr, f) {
        for (var i = 0, e = arr.length; i < e; ++i) f(arr[i]);
    }
    forEach(document.getElementsByName("code"), doStuff);
    function doStuff(editor) {
        CodeMirror.fromTextArea(editor, {
            width: "100%",
            height: "100%",
            lineNumbers: true,
            matchBrackets: true,
            mode: "text/x-csrc",
            readOnly: true
        });
    }
</script>
